# Exclude All... #
/*

# ...But Keep Important Stuff #

# Gradle #
#!gradle/
#!gradlew
#!gradlew.bat
#!gradle.properties
#!build.gradle

# Github #
!.gitignore
!LICENCE
!README.md
!CHANGELOG.md

# Source #
#!src/

# Mod Specific #
!custom-shrubs-example
